<navmobile
    class="fixed inset-0 justify-center items-center hidden md:hidden bg-background text-lg overflow-hidden navlinks">
    <links class="flex-col items-center justify-center space-y-3 text-text">
        <a href="" class="flex items-center space-x-1">
            <p>Home</p>
        </a>
        <div class="relative"  id="dropdownMenuLinks">
            <button href="" class="flex items-center space-x-1 group select-none">
                <p class="">Blog</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 icon-rotate-180">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </button>
            <div class="absolute">
              Dropdown Content
            </div>
        </div>
        
        
    </links>


    <button id="closeBtn" class="top-0 right-0 p-4 fixed text-text underline-offset-3 hover:underline text-md">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-7 h-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
</navmobile>